################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FutuEvents
/FutuEvents/appsettings.Development.json
/FutuEvents/appsettings.json
/FutuEvents/obj/Debug/net8.0/FutuEvents.AssemblyInfo.cs
/FutuEvents/obj/Debug/net8.0/FutuEvents.AssemblyInfoInputs.cache
